.most-played {
    margin-bottom: 100px;
}

.collection-games-pics {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
}

.collection-all-games-pics  {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}