.contact-icons {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 50px;
}

.contact-icon {
    width: 250px;
    max-height: 300px;
    background-color: #2A323F;
    text-align: center;
}

.contact-icon img {
    margin: 0;
    padding: 0;
}

.tickets {
    margin-top: 120px;
}

.tickets h3 {
    text-align: center;
}

.ticket {
    background-color: #2A323F;
    font-family: 'Kanit', Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 550px;
    max-height: 400px;
}

.ticket > input {
    font-family: 'Kanit', Verdana, sans-serif;
    display: flex;
    flex-direction: row;
}

.ticket-issue {
    font-family: 'Kanit', Verdana, sans-serif;
}

.submit-ticket {
    font-family: 'Kanit', Verdana, sans-serif;
    background-color: #16C61D;
}

.support-opening-hours {
    text-align: center;
    margin-top: 50px;
}