@media (max-width: 650px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
        
    }
    #logo {
        display: flex;
        margin: 0 auto;
    }
    .cart-cta {
        align-items: center;
    }
}

@media (max-width: 1220px) {
    main {
        width: fit-content;
    }
}

@media (max-width: 740px) {
    main {
        padding-left: 0px;
        padding-right: 0px;
    }
    .checkout {
    grid-template-columns: 1fr;
    }
    .thankyou-cta {
    flex-direction: column;
    align-items: center;
    }
}

@media (max-width: 420px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-contact {
        text-align: center;
    }
}

@media (max-width: 800px) {
    .card {
        flex-direction: column;
    }
    .gray-bar {
        flex-wrap: wrap;
    }
    .cta {
        flex-direction: column;
    }
}

@media (max-width: 850px) {
    .collection-all-games-pics {
        grid-template-columns: 1fr 1fr;
    }
    .collection-games-pics {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 350px) {
    .collection-all-games-pics {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1070px) {
    .contact-icons {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media (max-width: 530px) {
    .checkout-cta {
        flex-direction: column;
        align-items: center;
    }
}
