@import url(./_collection.css);
@import url(./_contact.css);
@import url(./_navigation.css);
@import url(./_store-page.css);
@import url(./_product-page.css);
@import url(./_mediaqueries.css);
@import url(./_global.css);
@import url(./_cart.css);
@import url(./_checkout.css);


img {
    width: 100%;
}

.favourites {
    margin:0;
}

.about-text {
    margin: 0 auto;
    width: 70%;
}

button {
    border-radius: 8px;
}

.btn-ok {
    background-color: #16C61D;
    width: 250px;
    height: 60px;
}

.btn-back {
    background-color: #2A323F;
    color: #FFF;
    width: 250px;
    height: 60px;
}

.thankyou-h2 {
    text-align: center;
}

.thankyou-cta {
    display: flex;
    gap: 10px;
    justify-content: center;
    
}

