<h1></h1>
<figure>
  <img src="${.image}" />
</figure>
<section class="product-page-pics">
  <figure>
    <img src="${.image}" alt="Picture of ${.title}" />
  </figure>
  <figure>
    <img src="${.image}" alt="Picture of ${.title}" />
  </figure>
  <figure>
    <img src="${.image}" alt="Picture of ${.title}" />
  </figure>
  <figure>
    <img src="${.image}" alt="Picture of ${.title}" />
  </figure>
</section>
<p>${.description}</p>
<section class="cta">
  <h2>Buy ${.title}</h2>
  <div class="price-and-atc">
    <p>$ ${.price}</p>
    <a href="cart.html"><button class="btn-ok">Add to cart</button></a>
    <button class="wishlist">Wishlist</button>
  </div>
</section>
